<div class="container">

  <div class="img"></div>

  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Cadastre-se</h1>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Nome completo</label>
        <input pInputText name="name" type="text"
        [(ngModel)]="user.name" #name="ngModel" required minlength="3" maxlength="50">
        <app-message [control]="name" error="required" text="Informe um nome"></app-message>
        <app-message [control]="name" error="minlength"
            text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ name.errors?.minlength?.actualLength }}"></app-message>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>E-mail</label>
        <input pInputText name="email" type="email"
        [(ngModel)]="user.email" #email="ngModel" required>
        <app-message [control]="email" error="required" text="Informe um e-mail"></app-message>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>CPF</label>
        <input pInputText name="cpf" type="number" step="1"
        [(ngModel)]="user.cpf" #cpf="ngModel" required min="11">
        <app-message [control]="cpf" error="required" text="Informe seu CPF"></app-message>
        <app-message [control]="cpf" error="min"
            text="CPF invalido."></app-message>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Senha</label>
        <input pInputText name="password" type="password"
        [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxlength="8">
        <app-message [control]="password" error="required" text="Informe uma senha de 6 a 8 caracteres."></app-message>
        <app-message [control]="password" error="minlength"
        text="Mínimo de {{ password.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ password.errors?.minlength?.actualLength }}"></app-message>
      </div>

      <div class="p-col-12">
        <p>
          <button pButton type="submit" label="Salvar" style="background-color: rgb(4, 196, 132); margin: 2px" [disabled]="f.invalid"></button>
          <button pButton icon="pi pi-arrow-left" pTooltip="back" tooltipPosition="top"
          routerLink="/login" style="background-color: rgb(4, 196, 132); margin: 2px"></button>
        </p>
      </div>
    </div>

  </form>
</div>
