.container{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.img{
  display: flex;
  background-image: url('../../../assets/images/GlicDiaryMeasureRegister.png');
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.form{
  display: flex;
  justify-content: center;
}
