<div class="container">

  <div class="img">&nbsp;</div>

  <div class="form">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">

      <div class="p-grid">
        <div class="p-col-12" style="text-align: center;">
          <h1>{{ editing ? 'Edição de' : 'Nova' }} Medição</h1>
        </div>

        <div class="p-col-12 p-md-6 p-fluid">
          <label>Tipo</label>
          <p-dropdown name="type" [options]="types" placeholder="Selecione"
          [(ngModel)]="measure.type" #type="ngModel" required></p-dropdown>
        </div>

        <div class="p-col-6 p-md-3 p-fluid">
          <label>Data</label>
          <p-calendar name="date" dateFormat="dd/mm/yy" [inline]="false"
          [(ngModel)]="measure.date" #date="ngModel" [showIcon]="true" [minDate]="minDate" required></p-calendar>
          <app-message [control]="date" error="required" text="Informe uma data"></app-message>
        </div>

        <div class="p-col-12 p-md-9 p-fluid">
          <label>Medição</label>
          <input pInputText type="number" name="measures" step="1"
          [(ngModel)]="measure.measures" #measures="ngModel" required>
          <app-message [control]="measures" error="required" text="Informe uma Medição"></app-message>
        </div>

        <div class="p-col-12">
          <p>
            <button pButton type="submit" label="Salvar"
            style="background-color: rgb(4, 196, 132); margin: 2px" [disabled]="f.invalid" ></button>
            <button pButton icon="pi pi-arrow-left" pTooltip="back" tooltipPosition="top"
            routerLink="/measures" style="background-color: rgb(4, 196, 132); margin: 2px"></button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
