{{ msg }}
<div class="container">

  <div class="login-logo"></div>

  <div class="login-div form">
    <form autocomplete="off" #f="ngForm">
      <div class="p-grid p-fluid">

        <div class="p-col-12">
          <h1>Login</h1>
        </div>

        <div class="p-col-12">
          <p><input pInputText type="email" name="user" placeholder="E-mail"
            ngModel required #user>
          </p>
        </div>

        <div class="p-col-12">
          <p>
            <input pInputText type="password" name="password" placeholder="Senha"
            ngModel required #password>
          </p>

        </div>

        <div class="p-col-12">
          <p><button pButton type="submit" label="Login" [disabled]="!f.valid"
            (click)="login(user.value, password.value)" style="background-color: rgb(4, 196, 132);"></button>
          </p>
          <a pButton label="Cadastrar" style="background-color: rgb(4, 196, 132);" routerLink="/users/new"></a>
        </div>

      </div>
    </form>
  </div>

</div>
